.home-hero {
  margin-top: 50px;
  position: relative;
  min-height: calc(100vh - 250px);

  &__container {
    position: relative;
  }

  &__upenn {
    margin-top: 1.5rem;
    margin-left: 0.5rem;
    color: var(--gray);
    font-size: 1.5rem;
    text-transform: uppercase;
  }

  &__title {
    line-height: 1;
    text-transform: lowercase;
  }

  &__subtitle {
    color: var(--dark-gray);
    font-size: 1.5rem;
  }

  /* &__shapes moved below element rules to satisfy stylelint ordering */

  &__dots--small {
    height: 73px;
    width: 60px;
    right: 130px;
    top: 20px;
  }

  &__dots--large {
    height: 130px;
    width: 85px;
    right: -40px;
    top: 190px;
  }

  &__triangle--small {
    height: 151px;
    width: 175px;
    right: -80px;
    top: -20px;
  }

  &__triangle--large {
    height: 366px;
    width: 423px;
    right: -110px;
    top: 0;
  }

  &__shapes {
    position: absolute;
    top: 10px;
    right: 0;
    height: 300px;

    div {
      position: absolute;
      transition:
        top 0.5s ease-out,
        right 0.5s ease-out,
        bottom 0.5s ease-out;
      background-size: contain;
      background-repeat: no-repeat;
    }

    &:hover {
      .home-hero__dots--small {
        right: 170px;
      }

      .home-hero__dots--large {
        top: 150px;
        right: -20px;
      }

      .home-hero__triangle--small {
        top: -50px;
        right: -120px;
      }

      .home-hero__triangle--large {
        top: 60px;
        right: -80px;
      }
    }
  }
}

/* Nested above under .home-hero */

.scroll-indicator {
  margin-bottom: 20px;
  color: var(--gray);
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;

  &__arrow {
    height: 20px;
    width: 34px;
  }
}

.people {
  background: linear-gradient(#fff 0, #fbd3de 5%, #ee3d6e 20%);

  &__cards {
    display: flex;
    flex-flow: row wrap;

    /* row-gap combined into gap below per stylelint rule */
    gap: 30px;
    margin-top: 3rem;
    padding-bottom: 3rem;
  }

  &__title {
    color: var(--navy);
    text-transform: lowercase;
  }

  &__subtitle {
    font-size: 1.5rem;
  }
}

.news {
  background: linear-gradient(
    #ee3d6e,
    #ad518a 3%,
    #4a72b7 10%,
    #4884ab 40%,
    #46a29b 70%,
    #4a72b7 100%
  );

  &__divider {
    padding-top: 2rem;
    padding-bottom: 2rem;

    hr {
      border-color: white;
      background-color: white;
    }
  }

  &__title {
    color: var(--white);
    text-transform: lowercase;
  }

  &__cards {
    padding-bottom: 25rem;
  }
}
