.home-hero {
  margin-top: 20px;
  position: relative;
  min-height: auto;

  &__container {
    position: relative;
  }

  &__upenn {
    margin-top: 1.5rem;
    margin-left: 0.5rem;
    color: var(--gray);
    font-size: 1.5rem;
    text-transform: uppercase;
  }

  &__title {
    line-height: 1;
    text-transform: lowercase;
    word-break: keep-all;
  }

  &__subtitle {
    color: var(--dark-gray);
    font-size: 1.5rem;
  }

  &__dots--small {
    height: 73px;
    width: 60px;
    right: 130px;
    top: 20px;
  }

  &__dots--large {
    height: 130px;
    width: 85px;
    right: -40px;
    top: 190px;
  }

  &__triangle--small {
    height: 151px;
    width: 175px;
    right: -80px;
    top: -20px;
  }

  &__triangle--large {
    height: 366px;
    width: 423px;
    right: -110px;
    top: 0;
  }

  &__shapes {
    position: absolute;
    top: 10px;
    right: 0;
    height: 300px;

    div {
      position: absolute;
      transition:
        top 0.5s ease-out,
        right 0.5s ease-out,
        bottom 0.5s ease-out;
      background-size: contain;
      background-repeat: no-repeat;
    }

    &:hover {
      .home-hero__dots--small {
        right: 170px;
      }

      .home-hero__dots--large {
        top: 150px;
        right: -20px;
      }

      .home-hero__triangle--small {
        top: -50px;
        right: -120px;
      }

      .home-hero__triangle--large {
        top: 60px;
        right: -80px;
      }
    }
  }
}

/* Mobile overrides */
@media (width <= 1023px) {
  .home-hero {
    margin-top: 12px;

    &__upenn {
      margin-top: 0.75rem;
      margin-left: 0.25rem;
      font-size: 0.875rem;
    }

    &__title {
      line-height: 1.1;
      font-size: 17vw;
    }

    &__subtitle {
      font-size: 1rem;
    }

    &__shapes {
      position: relative;
      top: 0;
      right: 0;
      height: auto;
      margin-top: 1rem;
    }

    &__dots--small {
      height: 36px;
      width: 30px;
      right: auto;
      top: auto;
      position: static;
    }

    &__dots--large {
      height: 65px;
      width: 42px;
      right: auto;
      top: auto;
      position: static;
    }

    &__triangle--small {
      height: 76px;
      width: 88px;
      right: auto;
      top: auto;
      position: static;
    }

    &__triangle--large {
      height: 180px;
      width: 208px;
      right: auto;
      top: auto;
      position: static;
    }
  }

  .people {
    margin-top: 1rem;
    margin-bottom: 1rem;

    &__subtitle {
      font-size: 1.125rem;
    }
  }

  .news {
    margin-top: 1rem;
    margin-bottom: 1rem;

    &__item {
      padding: 0.5rem 0;
    }
  }
}

/* Hide decorative shapes on mobile */
@media (width <= 640px) {
  .home-hero {
    &__shapes {
      display: none;
    }
  }
}

.people {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  background: var(--white);

  &__title {
    color: var(--denim);
    text-transform: lowercase;
  }

  &__subtitle {
    font-size: 1.5rem;
  }

  &__subheading {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    color: var(--dark-gray);
    font-size: 1.25rem;
    font-weight: 600;
  }
}

.news {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  background: var(--white);

  &__divider {
    padding-top: 1rem;
    padding-bottom: 1rem;

    hr {
      border-color: var(--light-gray);
      background-color: var(--light-gray);
    }
  }

  &__title {
    color: var(--navy);
    text-transform: lowercase;
  }

  &__item {
    display: grid;
    grid-template-columns: 7rem 1fr;
    gap: 1rem;
    align-items: start;
    padding: 0.75rem 0;
    border-bottom: 1px solid rgb(0 0 0 / 6%);

    &:last-child {
      border-bottom: none;
    }
  }

  &__item-date {
    color: var(--dark-gray);
    font-weight: 600;
    white-space: nowrap;
  }

  &__item-content {
    color: #111827;

    p {
      margin: 0;
    }
  }
}
