.publications-page__container {
  margin-top: 3rem;
  position: relative;
}

.publications-page__title {
  color: var(--red);
  text-transform: lowercase;
}

.publications-page__subtitle {
  font-size: 1.5rem;
  color: var(--dark-gray);
}

.publications-page__list {
  margin-top: 2rem;
}

.publications-page__shapes {
  position: absolute;
  top: 10px;
  right: 0;
  height: 300px;

  div {
    position: absolute;
    transition:
      top 0.5s ease-out,
      right 0.5s ease-out;
  }

  &:hover {
    .publications-page__shapes__dots {
      top: 100px;
    }

    .publications-page__shapes__circle--small {
      right: 140px;
      top: 100px;
    }

    .publications-page__shapes__circle--large {
      right: -200px;
      top: 20px;
    }
  }

  &__dots {
    height: 73px;
    width: 85px;
    top: 0;
    right: 70px;
  }

  &__circle--small {
    height: 113px;
    width: 113px;
    top: 120px;
    right: 80px;
  }

  &__circle--large {
    height: 293px;
    width: 293px;
    right: -150px;
    top: 60px;
  }
}

.publication {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 1rem;
  margin-bottom: 2rem;

  &__image {
    max-width: 15rem;
    aspect-ratio: 16 / 9;
    object-fit: contain;
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__title {
    font-size: 1.5rem;
  }

  &__pdf {
    color: var(--denim);
    text-decoration: underline;

    &:hover {
      color: var(--red);
    }
  }
}

@media (width <= 1023px) {
  .publications-page__container {
    margin-top: 1rem;
  }

  .publications-page__list {
    margin-top: 0;
  }

  .publication {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;

    &__image {
      max-width: 100%;
      aspect-ratio: 16 / 9;
      object-fit: contain;
    }
  }
}

/* Hide decorative shapes on mobile */
@media (width <= 640px) {
  .publications-page__shapes {
    display: none;
  }
}
