---
import Base from "../layouts/Base.astro";
import CoursesContent from "../content/courses.md";
---

<Base title="Courses">
  <section class="content-width" style="margin-top: 3rem;">
    <CoursesContent />
  </section>
</Base>
