---
import Base from "../layouts/Base.astro";
import CoursesContent from "../content/courses.md";
---

<Base title="Courses">
  <section class="courses-page">
    <div class="courses-page__container content-width">
      <CoursesContent />
    </div>
  </section>
</Base>
