:root {
  --denim: #4a72b7;
  --red: #ee3d6e;
  --navy: #1c2b56;
  --gray: rgb(167, 186, 185);
  --dark-gray: #484848;
  --white: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Text styling */

.denim {
  color: var(--denim);
}

.red {
  color: var(--red);
}

.navy {
  color: var(--navy);
}

.gray {
  color: var(--gray);
}

.dark-gray {
  color: var(--dark-gray);
}

.white {
  color: var(--white);
}

.lowercase {
  text-transform: lowercase;
}

.uppercase {
  text-transform: uppercase;
}

/* Text sizing */

h1 {
  font-size: 9.125rem;
  font-weight: bolder;
}

.f-large {
  font-size: 1.5rem;
}

h2 {
  font-size: 3.75rem;
  font-weight: 700;
}

/* Layout utilities */

.w-full {
  width: 100%;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.flex-grow {
  flex-grow: 1;
}

.content-width {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

.margin-center {
  margin-left: auto;
  margin-right: auto;
}

/* Global styles */

body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--white);
}

nav {
  max-height: 80px;
  border-bottom: 1px solid var(--dark-gray);
}

main {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 150px;
}

nav a {
  text-decoration: none;
}

.nav-link {
  margin-left: 20px;
  padding: 0.5rem;
  color: rgba(0, 0, 0, 0.5);
}

.nav-link:hover {
  color: rgba(0, 0, 0, 0.7);
}

.nav-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav-logo {
  padding: 0.5rem;
}

.nav-right {
  margin-left: auto;
}

.nav-join {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--red);
  height: 48px;
  width: 48px;
  border-radius: 50%;
  cursor: pointer;
  color: var(--white);
}

.profile-card {
  border: 1px solid var(--white);
  border-radius: 12px;
  background-color: transparent;
  color: var(--white);
  padding: 0;

  max-width: 23%;
}

.profile-card .headshot {
  aspect-ratio: 4 / 5;
  object-fit: cover;
  width: 100%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.card-body {
  height: 150px;
  padding: 1rem 1.25rem;
}
